/src/main/java/Client/SentEmail/barluc@yahoo.it.txt
/src/main/java/Client/SentEmail/beator@yahoo.it.txt
/src/main/java/Client/SentEmail/rosator@yahoo.it.txt
/src/main/resources/receivedEmails/barluc@yahoo.it.txt
/src/main/resources/receivedEmails/barlucUnpulled.txt
/src/main/resources/receivedEmails/beator@yahoo.it.txt
/src/main/resources/receivedEmails/beatorUnpulled.txt
/src/main/resources/receivedEmails/id.txt
/src/main/resources/receivedEmails/rosator@yahoo.it.txt
/src/main/resources/receivedEmails/rosatorUnpulled.txt
